certifi==2024.2.2
charset-normalizer==3.3.2
gitdb==4.0.11
GitPython==3.1.41
idna==3.7
python-dateutil==2.9.0.post0
requests==2.32.1
setuptools==69.0.3
six==1.16.0
smmap==5.0.1
tqdm==4.66.4
urllib3==2.2.1
wheel==0.43.0
